* {
    margin:0;
    padding:0;
    box-sizing: :border-box;
}

body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;


}
.clock {
    width:40rem;
    height:40rem;
    background: url("https://cssanimation.rocks/images/posts/clocks/ios_clock.svg");

}